
{% load static %}
<!DOCTYPE html><html class=''>
<head>
	<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
	<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
	<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <link rel="stylesheet" href="{% static 'style.css' %}">
	<!-- <script src='//production-assets.codepen.io/assets/editor/live/console_runner-079c09a0e3b9ff743e39ee2d5637b9216b3545af0de366d4b9aad9dc87e26bfd.js'></script><script src='//production-assets.codepen.io/assets/editor/live/events_runner-73716630c22bbc8cff4bd0f07b135f00a0bdc5d14629260c3ec49e5606f98fdd.js'></script><script src='//production-assets.codepen.io/assets/editor/live/css_live_reload_init-2c0dc5167d60a5af3ee189d570b1835129687ea2a61bee3513dee3a50c115a77.js'></script><meta charset='UTF-8'><meta name="robots" content="noindex"><link rel="shortcut icon" type="image/x-icon" href="//production-assets.codepen.io/assets/favicon/favicon-8ea04875e70c4b0bb41da869e81236e54394d63638a1ef12fa558a4a835f1164.ico" /><link rel="mask-icon" type="" href="//production-assets.codepen.io/assets/favicon/logo-pin-f2d2b6d2c61838f7e76325261b7195c27224080bc099486ddd6dccb469b8e8e6.svg" color="#111" /><link rel="canonical" href="https://codepen.io/emilcarlsson/pen/ZOQZaV?limit=all&page=74&q=contact+" /> -->
	<link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,300' rel='stylesheet' type='text/css'>
	<script src="https://use.typekit.net/hoy3lrg.js"></script>
	<script>try{Typekit.load({ async: true });}catch(e){}</script>
	<script src='//production-assets.codepen.io/assets/common/stopExecutionOnTimeout-b2a7b3fe212eaa732349046d8416e00a9dec26eb7fd347590fbced3ab38af52e.js'></script>
	<script src='https://code.jquery.com/jquery-2.2.4.min.js'></script>
	<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
	<link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css'><link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.2/css/font-awesome.min.css'>
	
	
</head>	

<body>
<div id="frame">
	<div id="sidepanel">
		<div id="profile">
			<div class="wrap">
				<img id="profile-img" src="http://emilcarlsson.se/assets/mikeross.png" class="online" alt="" />
				<p>{{username}}</p>
			</div>
		</div>
		<div style="width: 100%; align-content: center; padding-left: 8%;" id="search">
			<label class="wrap" for=""><span class="glyphicon glyphicon-user"></span></label>
			<input type="text" placeholder="Contacts" disabled />
		</div>
		<div id="contacts">
			<ul>
				{% for i in userdata %}
				{% if i.username != username %}
				<li id=`{{i.username}}` class="contact active">
					<div class="wrap">
						<span class="contact-status busy"></span>
						<img src="http://emilcarlsson.se/assets/harveyspecter.png" alt="" />
						<div class="meta">
							<p  class="name">{{i.username}}</p>
							<br>

						</div>
					</div>
				</li>
				{% endif %}
				{% endfor %}
			</ul>
		</div>
		<div id="bottom-bar">
			<a href="{% url 'logout' %}" ><button style="width: 100%; text-align: center;" id="settings"><i class="fa fa-cog fa-fw" aria-hidden="true"></i> <span>Logout</span></button></a>
		</div>
	</div>
	<div class="content">
		<div class="contact-profile">
			<img class="chatimg" style="visibility:hidden;" src="http://emilcarlsson.se/assets/harveyspecter.png" alt="" />
			<p class="chatname"></p>
			<div class="social-media">
				<i class="fa fa-facebook" aria-hidden="true"></i>
				<i class="fa fa-twitter" aria-hidden="true"></i>
				 <i class="fa fa-instagram" aria-hidden="true"></i>
			</div>
		</div>
		<div class="messages">
			<ul id = 'chat-log'>
				
			</ul>
		</div>
		<div class="message-input">
			<div class="wrap">
			<input id = 'chat-message-input' disabled type="hidden" placeholder="Write your message..." />
			<i class="fa fa-paperclip attachment" aria-hidden="true"></i>
			<button disabled id = 'chat-message-submit' class="submit"><i class="fa fa-paper-plane" aria-hidden="true"></i></button>
			</div>
		</div>
	</div>
</div>

<script src="{% static 'main.js' %}" ></script>
<script src="{% static 'reconnecting-websocket.js' %}" ></script>
<script>
	var roomName = '{{room_name}}';
	var username = '{{username}}';
	var new_roomname = '';

	var chatSocket = new ReconnectingWebSocket(
		'ws://'
		+ window.location.host
		+ '/ws/chat/'
		+ roomName
		+ '/'
	);


	

	

	function fetchNewMessages(roomname){
		
		chatSocket.send(JSON.stringify({
			'command':'fetch_messages',
			 'new_room':roomname
		}));
	}


	chatSocket.onopen = function(){
		// fetchNewMessages(new_roomname)
	};

	chatSocket.onmessage = function(e) {
	
	    var data = JSON.parse(e.data);
		if (data['command'] === 'messages'){
			for (let i=0; i< data['messages'].length; i++){
				createMessage(data['messages'][i]);
			}
		}
		else if (data['command'] === 'new_message'){
			createMessage(data['message']);
		}
		
		
	};
	
	

	chatSocket.onclose = function(e) {
		console.error('Chat socket closed unexpectedly');
	
	};


	

function createMessage(data){
	var message = data['content'];
	var author = data['author'];
	
	if (author == username){
	$('<li class="sent"><img src="http://emilcarlsson.se/assets/mikeross.png" alt="" /><p>' + message + '</p></li>').appendTo($('.messages ul'));
	$('.message-input input').val(null);
	$('.contact.active .preview').html('<span>You: </span>' + message);
	$(".messages").animate({ scrollTop: $(document).height() }, "fast");
	}else{
	
	$('<li class="replies"><img src="http://emilcarlsson.se/assets/mikeross.png" alt="" /><p>' + message + '</p></li>').appendTo($('.messages ul'));
	$('.message-input input').val(null);
	$('.contact.active .preview').html('<span>You: </span>' + message);
	$(".messages").animate({ scrollTop: $(document).height() }, "fast");
	}


}



function newMessage() {
	message = $(".message-input input").val();
	if($.trim(message) == '') {
		return false;
	}
	chatSocket.send(JSON.stringify({
			'command': 'new_message',
			'message': message,
			'from' : username,
			'roomname': new_roomname
		}));

};

function createChatSocket(roomname){
	
	var chatSocket = new ReconnectingWebSocket(
		'ws://'
		+ window.location.host
		+ '/ws/chat/'
		+ roomname
		+ '/'
	);


	
};

$('.submit').click(function() {
  newMessage();
});

$(window).on('keydown', function(e) {
  if (e.which == 13) {
    newMessage();
    return false;
  }
});

$('.active').click(function(){
	var receiver = $(this).attr('id');
	document.querySelector(".chatname").innerHTML = receiver
	document.querySelector('.chatimg').style.visibility = "visible";
	receiver = receiver.slice(1,receiver.length-1) + "/" + username;
	console.log(receiver);
	console.log(username); 
	var list = receiver.split('/').sort();
	console.log(list)
	$('#chat-log').empty();

	new_roomname = list[0] + list[1];
	console.log(new_roomname);
	createChatSocket(new_roomname);
	fetchNewMessages(new_roomname);
	document.querySelector('#chat-message-input').disabled = false
	document.querySelector('#chat-message-input').setAttribute('type','text')
	document.querySelector('#chat-message-submit').disabled = false

})


</script>

</body>